# local package
-e .

# external requirements
altair
altair_saver
importlib
joblib~=1.1.0
numpy~=1.20.0
pandas~=1.3.5
pathlib~=1.0.1
python-dotenv>=0.5.1
re
scikit-learn~=1.0.2
scipy~=1.2.1
setuptools~=57.4.0
swifter
xgboost